body {
    font-family: 'open_sansregular';
    margin: 0;
}


#navbar li {
    float: left;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d7fb0;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
}

#proof_wrapper {
    margin: 0% 0% 0% 1%;
    font-size: 11.5pt;
    width: 60%;
    height: 88%;
    border: 1px solid gray;
    overflow: auto;
    background: white;
    float: left;

}

.proofstep {
    margin:  0 0 0 0;
    padding: 10px 0 10px 10px;
    border: 1px solid gray;
    width: 100%;
    height: 400px;
}

.proofstep:hover {
    background-color: #ededed;
}

#proof_title {
    margin: 20px 0% 10px 1%;
    font-size: 20px;
}

.graph_container {
    padding: 20px;
}
