body {
    font-family: 'open_sansregular';
    margin: 0;
}


#navbar li {
    float: left;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d7fb0;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
}

#proof_wrapper {
    font-size: 11.5pt;
    height: 95%;
    overflow: auto;
    background: white;
    float: left;
    scrollbar-width: thin;
    scrollbar-color: #bcbcbc white;
}

.proofstep_graphs {
    margin: 1% 0 0 5%;
}

.proofstep_graphs > table {
    /* border: 1px solid black; */
}

.proofstep_graphs tr td {
    /* border: 1px solid black; */
    padding: 0 20 0 20;
}

.proofstep_graphs {
    overflow: auto;
    scrollbar-color: #bcbcbc white;
    scrollbar-width: thin;
    /* padding: 20 0 20 0; */
}

.proofstep-wrapper {
    background: white;
    padding:  0 1.5% 0 1.5%;
    margin: 0;
}

.proofstep:hover {
    background-color: #f7f7f7;
}

.proofstep {
    width: 100%;
}


.proofstep-title {
    margin: 20 0 0 0;
    font-size: 20px;
    border-bottom: 1px solid gray;
}

.proofstep-text {
    font-size: 15px;
    padding: 20 0 10 20;
    padding: 20 0 0 0;
    margin: 0;
}

#proof_title {
    /* margin: 20 0% 20 1%; */
    /* font-size: 16px; */
    /* color: #434343; */
}

#oracle_wrapper {
    padding: 10px;
    font-size: 11.5pt;
    /* width: 40%; */
    height: 93%;
    border: 0.5px solid gray;
    overflow: auto;
    background: white;
    float: left;
    scrollbar-width: thin;
    scrollbar-color: #bcbcbc white;
}

.package_def_container {
    overflow: auto;
    margin: 0 0 20 0;
}

.oracle-container {
    padding: 0 30 20 0;
    float: left;
}

.oracle-title {
    border-bottom: 1px solid #333;
    margin: 10 0 7 0;
    padding: 0;
}

.package_def_title {
    font-size: 18;
    border-bottom: 4px double #333;
    padding: 0;
    margin: 0;
}

.pcode-oracle-call {
    display: inline;
}

.pcode-oracle-call:hover {
    border: 2px solid #4d7fb0;
}


@keyframes highlight {
    0% {
        /* background: #c3d7ee; */
	background: #d9e8f9;
    }
    100% {
        background: none;
    }
}

.highlight {
    animation: highlight 2s;
}

.game-title {
    padding: 20 0 0 0;
    font-size: 14px;
}

.border-highlight {
    border: 2px solid #4d7fb0;
}

.inlining-oracle-container {
    display: inline-block;
    padding: 0 30 20 0;
}

.inlining-container {
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #bcbcbc white;
    overflow: auto;
    padding: 0 0 0 5%;
    border: 1px solid #333;
}

.inlining-btn {
    margin: 20 0 0 0;
}
